:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-weight: 400;
}

body {
  margin: 0;
  width: 100%;
}

.auto-input {
  font-size: 16px;
  border: 1px solid #ddd;
  transition: 0.2s;
  border-radius: 8px;
  padding: 10px 30px;
  max-width: 100% ;
  width: 87.5% ;
  position: relative;
}

.auto-input:focus {
  box-shadow: 0 0 0 2px rgba(123, 78, 255, 0.25);
  outline: none;
}
